<?xml version="1.0"?>
<config>
    <modules>
        <Itransition_ShippingInsurance>
            <version>1.0.0</version>
            <depends>
                <Mage_Adminhtml />
            </depends>
        </Itransition_ShippingInsurance>
    </modules>
    <global>
        <blocks>
            <itransition_shippinginsurance>
                <class>Itransition_ShippingInsurance_Block</class>
            </itransition_shippinginsurance>
        </blocks>
        <helpers>
            <itransition_shippinginsurance>
                <class>Itransition_ShippingInsurance_Helper</class>
            </itransition_shippinginsurance>
        </helpers>
        <models>
            <itransition_shippinginsurance>
                <class>Itransition_ShippingInsurance_Model</class>
            </itransition_shippinginsurance>
        </models>
    </global>
</config>
