<?xml version="1.0"?>
<config>
    <modules>
        <Itransition_ShippingInsurance>
            <version>1.0.0</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </Itransition_ShippingInsurance>
    </modules>
    <global>
        <helpers>
            <itransition_shippinginsurance>
                <class>Itransition_ShippingInsurance_Helper</class>
            </itransition_shippinginsurance>
        </helpers>
        <models>
            <itransition_shippinginsurance>
                <class>Itransition_ShippingInsurance_Model</class>
            </itransition_shippinginsurance>
        </models>
    </global>
    <default>
        <shippinginsurance>
            <settings_group>
                <value_field>0</value_field>
            </settings_group>
        </shippinginsurance>
    </default>
</config>
